
html {
    box-sizing: border-box;
    background: #222227;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}